<!-- CONTACT -->
    <div id='contact' class="pt-page pt-page-3">
        <div id='formulaire-contact'>
            <!-- Formulaire -->
            <div id='formulaire'>
                <form action="{{rootUri}}/src/media/assets/utils/contact.php" method="post" id='form'>
                    <!--FIRST LIGNE-->
                    <div class='ligne'>
                        <div class="form-group premier">
                            <select name='civilite' required>
                                <option value='Monsieur'>Monsieur</option>
                                <option value='Madame'>Madame</option>
                            </select>
                        </div>
                    </div>               
                    
                    <!--SECOND LIGNE-->
                    <div class='ligne'>
                        <div class="form-group premier">
                            <input type="text" placeholder="Votre nom" name='nom' id='nom' required data-parsley-length="[4, 20]" >
                        </div>

                        <div class="form-group second">
                            <input type="text" placeholder="Votre prénom" name='prenom' id='prenom' required data-parsley-length="[4, 20]">
                        </div>
                    </div>
                    
                    
                                    
                    <!--3e LIGNE-->
                    <div class="ligne">
                        <div class="form-group premier">
                            <input type="email" placeholder="Votre mail" name='mail' required>
                        </div>

                        <div class="form-group second">
                            <input type="tel" placeholder="Votre téléphone" name='tel' maxlength='10'>
                        </div>
                    </div>
                    
                    
                    <!--4e LIGNE-->
                    <div class="ligne">
                        <div class="form-group premier">
                            <input type="text" placeholder="Votre CP" name='cp' required>
                        </div>

                        <div class="form-group second">
                            <input type="text" placeholder="Votre ville" name='ville' required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <textarea placeholder="Votre message" name='message' required rows="10" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message = "Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                    </div>
                    
                    <div class='submit'>
                        <button type="submit">Envoyer</button>
                    </div>
                    <!--<input type="reset" value='Effacer'>-->
                </form>
            </div>

            <!--Texte-->
            <div id='accroche'>
                <p class="">Vous souhaitez plus de renseignements ? Ecrivez-nous, nous vous répondrons le plus rapidement possible.  </p>
            </div>
        </div>




        <!-- Adresse -->
        <div id='informations'> 
            <div id='coordonnes'>
                <div id="adresse" class='contact-info'>
                    <h4>COORDONNÉES</h4>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        57 Bis Rue d'Hellieule<br>
                        88100 Saint-Dié-Des-Vosges
                    </p>
                    <p>
                        <i class="fa fa-mobile"></i>
                        03 54 82 93 68
                    </p>
                </div>
                
                <div id='contact1' class='contact-info'>
                    <h4>PHILIPPE SPONNE</h4>
                    <p>
                        <i class="fa fa-mobile"></i>
                        06 77 16 40 69
                    </p>
                    <!-- <p>
                        <i class="fa fa-paper-plane"></i>
                        example@fai.com
                    </p> -->
                </div>

                <div id='contact2' class='contact-info'>
                    <h4>INGRID PELAINGRE</h4>
                    <p>
                        <i class="fa fa-mobile"></i>
                        06 13 62 74 14
                    </p>
                    <!-- <p>
                        <i class="fa fa-paper-plane"></i>
                        example@fai.com
                    </p> -->
                </div>
            </div>
            
            <!-- Map -->
            <div id='map'>
            </div>

            <!--INCLUDE FOOTER -->
            {% include "_footer.html.twig" %}
            <!--END INCLUDE FOOTER -->
        </div>
        
        
        <!-- Back-top -->
        <div id='back-top'>
            <a href="#container">
                <i class="fa fa-arrow-up fa-3x"></i>
            </a>
        </div>
    </div>
    <!-- FIN CONTACT -->