<!-- MENU FIXE -->
<div class='main-fixed'>
    <nav id='nav'>
        <!--<canvas id="eyes"></canvas>-->
        <img src="{{rootUri}}/src/media/assets/datas/img/LOGO-VOOVOYEZ.PNG">

        <ul>
            <li>
                <a href="#" id='link-realisation'>Réalisations</a>
            </li><!--
            --><li>
                <a href="#" id='link-contact'>Contact</a>
            </li>
        </ul>
    </nav>
</div>
<!-- FIN MENU FIXE -->