/* ATELIER VOOVOYEZ - COPYRIGHT */

/********************************/
/********* CSS VIEW.CSS ************/
/********************************/

@media screen and (max-width: 1600px){
    .view a.info{
       margin-top: 35px; /*20px*/
      margin-left: -35px;
    }

    .view a.zoom{
      margin-top: 80px;
    }
}


@media screen and (max-width: 1300px){
    .view a.info{
       margin-top: 30px; /*20px*/
      margin-left: -45px;
    }

    .view a.zoom{
      margin-top: 60px;
    }
}


@media screen and (max-width: 1000px){
    .view a.info{
       margin-top: 20px; /*20px*/
      margin-left: -30px;
      font-size: 0.8em;
    }

    .view a.zoom{
      margin-top: 43px;
    }
}


/********************************/
/********* CSS BODY ************/
/********************************/



/********************************/
/******* CSS PARALLAX ***********/
/********************************/

/********* Scène *********/
@media screen and (max-width: 1600px){
    #container .parallax .scene .ma_taille{
        width: 180px; /* Taille des vignettes */
    }
    /********* Illustrations *********/
    #container .parallax .scene .illustrations h1{
        font-size:2.2em;
        top:230px;
        left:380px;
    }

    #container .parallax .scene .illustrations #illustration1{
        left:280px;
        top:280px;
    }

    #container .parallax .scene .illustrations #illustration2{
        left:160px;
        top:100px;
    }

    /********* Logo *********/
    #container .parallax .scene .logo h1{
        font-size:2.2em;
        top:210px;
        left:30px;
    }

    #container .parallax .scene .logo #logo1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .logo #logo2{
        left:160px;
        top:80px;
    }


    /********* Site web *********/
    #container .parallax .scene .site h1{
        font-size:2.2em;
        top:260px;
        left:390px;
    }

    #container .parallax .scene .site #web1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .site #web2{
        left:160px;
        top:100px;
    }


    /********* Retouches photos *********/
    #container .parallax .scene .retouche h1{
        font-size:2.2em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .retouche #retouche1{
        /*left:260px;
        top:300px;*/
        position: absolute;
        z-index: 1;
    }

    #container .parallax .scene .retouche #retouche2{
        left:160px;
        top:100px;
        position: absolute;
        z-index: 2;
    }

    /********* Mise en page *********/
    #container .parallax .scene .miseenpage h1{
        font-size:2.2em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .miseenpage #page1{
        top:50px;
    }

    #container .parallax .scene .miseenpage #page2{
        left:180px;
        top:110px;
    }

    /********* Packaging CD *********/
    #container .parallax .scene .packaging h1{
        font-size:2.2em;
        top:10px;
        left:220px;
    }

        #container .parallax .scene .packaging #CD1{
        left:0px;
        top:0px;
    }

    #container .parallax .scene .packaging #CD2{
        left:148px;
        top:120px;
    }
}



@media screen and (max-width: 1300px){
    #container .parallax .scene .ma_taille{
        width: 150px; /* Taille des vignettes */
    }

    /********* Illustrations *********/
    #container .parallax .scene .illustrations{
        width: 400px;
    	height:300px;   
    }


    /********* Illustrations *********/
    #container .parallax .scene .illustrations h1{
        font-size:2em;
        top:190px;
        left:340px;
    }

    #container .parallax .scene .illustrations #illustration1{
        left:280px;
        top:230px;
    }

    #container .parallax .scene .illustrations #illustration2{
        left:160px;
        top:100px;
    }

    /********* Logo *********/
    #container .parallax .scene .logo h1{
        font-size:2em;
        top:175px;
        left:30px;
    }

    #container .parallax .scene .logo #logo1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .logo #logo2{
        left:130px;
        top:80px;
    }


    /********* Site web *********/
    #container .parallax .scene .site h1{
        font-size:2em;
        top:230px;
        left:310px;
    }

    #container .parallax .scene .site #web1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .site #web2{
        left:130px;
        top:100px;
    }


    /********* Retouches photos *********/
    #container .parallax .scene .retouche h1{
        font-size:2em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .retouche #retouche1{
        /*left:260px;
        top:300px;*/
        position: absolute;
        z-index: 1;
    }

    #container .parallax .scene .retouche #retouche2{
        left:130px;
        top:100px;
        position: absolute;
        z-index: 2;
    }

    /********* Mise en page *********/
    #container .parallax .scene .miseenpage h1{
        font-size:2em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .miseenpage #page1{
        top:50px;
    }

    #container .parallax .scene .miseenpage #page2{
        left:120px;
        top:110px;
    }

    /********* Packaging CD *********/
    #container .parallax .scene .packaging h1{
        font-size:2em;
        top:10px;
        left:180px;
    }

        #container .parallax .scene .packaging #CD1{
        left:0px;
        top:0px;
    }

    #container .parallax .scene .packaging #CD2{
        left:120px;
        top:110px;
    }
}



   
@media screen and (max-width: 1000px){
    #container .parallax .scene .ma_taille{
        width: 120px; /* Taille des vignettes */
    }

    /********* Illustrations *********/
    #container .parallax .scene .illustrations{
        width: 400px;
        height:300px; 
        left:60%;  
    }


    /********* Illustrations *********/
    #container .parallax .scene .illustrations h1{
        font-size:1.8em;
        top:190px;
        left:330px;
    }

    #container .parallax .scene .illustrations #illustration1{
        left:280px;
        top:230px;
    }

    #container .parallax .scene .illustrations #illustration2{
        left:190px;
        top:130px;
    }

    /********* Logo *********/
    #container .parallax .scene .logo h1{
        font-size:1.8em;
        top:145px;
        left:10px;
    }

    #container .parallax .scene .logo #logo1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .logo #logo2{
        left:100px;
        top:60px;
    }


    /********* Site web *********/
    #container .parallax .scene .site h1{
        font-size:1.8em;
        top:170px;
        left:250px;
    }

    #container .parallax .scene .site #web1{
        /*left:260px;
        top:300px;*/
    }

    #container .parallax .scene .site #web2{
        left:100px;
        top:70px;
    }


    /********* Retouches photos *********/
    #container .parallax .scene .retouche h1{
        font-size:1.8em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .retouche #retouche1{
        /*left:260px;
        top:300px;*/
        position: absolute;
        z-index: 1;
    }

    #container .parallax .scene .retouche #retouche2{
        left:90px;
        top:90px;
        position: absolute;
        z-index: 2;
    }

    /********* Mise en page *********/
    #container .parallax .scene .miseenpage h1{
        font-size:1.8em;
        top:260px;
        left:400px;
    }

    #container .parallax .scene .miseenpage #page1{
        top:50px;
    }

    #container .parallax .scene .miseenpage #page2{
        left:120px;
        top:110px;
    }

    /********* Packaging CD *********/
    #container .parallax .scene .packaging h1{
        font-size:1.8em;
        top:10px;
        left:180px;
    }

    #container .parallax .scene .packaging #CD1{
        left:40px;
        top:0px;
    }

    #container .parallax .scene .packaging #CD2{
        left:120px;
        top:90px;
    }
}

/********************************/
/********* CSS MAIN *************/
/********************************/





/********************************/
/********* CSS CANVAS ***********/
/********************************/




/********************************/
/********* CSS CONTACT ***********/
/********************************/






/********************************/
/********* CSS OVERVIEW ***********/
/********************************/
/********* General *********/



/********* Header *********/

/********* Avant-Après *********/


/********* Affiche/Image *********/


/********* Digipack *********/


/********* Brochures *********/